<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>World Clock</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>World Clock1</h1>
    <div class="clock-container">
      <div class="clock">
        <div class="country">
          Nepal<br />
          <i class="fas fa-clock"></i>
          <!-- solid style -->
        </div>
        <div class="time" id="nepal"></div>
        <p>Set alarm</p>
        Select time: <input type="time" id="alarm1" name="alarm" />
        <button class="alarm-btn">Set alarm</button>
      </div>

      <div class="clock">
        <div class="country">
          India<br />
          <i class="fas fa-clock"></i>
          <!-- solid style -->
        </div>
        <div class="time" id="india"></div>
        <p>Set alarm</p>
        Select time: <input type="time" id="alarm2" name="alarm" />
      </div>

      <div class="clock">
        <div class="country">
          USA<br />
          <i class="fas fa-clock"></i>
          <!-- solid style -->
        </div>
        <div class="time" id="usa"></div>
        <p>Set alarm</p>
        Select time: <input type="time" id="alarm3" name="alarm" />
      </div>

      <div class="clock">
        <div class="country">
          Qatar<br />
          <i class="fas fa-clock"></i>
          <!-- solid style -->
        </div>
        <div class="time" id="qatar"></div>
        <p>Set alarm</p>
        Select time: <input type="time" id="alarm" name="alarm" />
      </div>
    </div>
  </body>
  <script src="script.js"></script>
</html>
