* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.title {
    height: 70px;
    width: 100%;
    background-color: #081b31;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.container {
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    background-color: white;
    margin-top: 5rem;
}

.palm{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
}

#paper {
    background-image: url(paper.jpg);
}

#rock {
    background-image: url(rock.jpg);
}

#scissors {
    background-image: url(scissors.jpg);
}

.palm:hover {
    border: 4px solid black;
    opacity: 1;
}

.score-board{
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 6rem;
}
.score{
    margin-right: 3rem;
}
p{
    
    font-size: 2rem;
    font-weight: 400;
}
#user-score{
    margin-left: 1rem;
    font-size: 4rem;
}
#computer-score{
    margin-left: 3rem;
    font-size: 4rem;
}
    .msg-container{
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
           
    }
    #msg{
        height: 70px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        border-radius: 20px;
        margin-right: 35px;
        ;
    }
    #msg:hover{
        background-color: #081b31;
        border: white 2px solid;
    }