*{
    padding: 0%;
    margin: 0%;
    font-family: arial;
    border: border-box;
    box-sizing: border-box;
}
/* Box 1 */
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.nav-logo{
    height: 50px;
    width: 140px;
    
}
.logo{
    background-image: url(amazon-logo.jpg);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1px solid transparent;
    
}
.border:hover{
    border: 1px solid white;
}

/* Box 2 */
.add-one{
    margin-left: 32px;
    font-size: 0.81rem;
    color:#cccccc
}
.add-two{
    margin-left:10px;
}
.add-icon{
    display: flex;
    align-items: center;
}
i{
    margin-left: 10px;
    margin-bottom: 4px;
}

/* Box3 */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
    width: 600px;
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
}
.search-select{
    width: 50%
    background-color: #f3f3f3;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    background-color: rgb(245, 161, 6);
    display: flex;
    justify-content: center;
align-items: center;
   font-size: 1.3rem;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   color: black;
}
.nav-search:hover{
    border: 2px solid orange;
}



/* Box 4 */

span{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-one{
font-size: 1rem;
font-weight: 700;
}

/* Box 5 */

.nav-return{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-order{
    font-size: 1rem;
    font-weight: 700;
}

/* Box 6 */
.cart i{
    font-size: 30px;
}
.cart{
    font-size: 0.8rem;
    font-weight: 700;
}

/* For panel */

.panel{
height: 39px;
background-color: #222f3d;
display: flex;
align-items: center;
justify-content: space-evenly;

color: white;
}
.panel-opt p{
    display: inline;
    color: white;
    margin: 15px;
  
}
.panel-opt{
    width: 70%;
  
}

/* hero */

.hero-section{
    background-image: url("hero.jpg");
    background-size: cover;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: end
    ;
}
.hero-msg{
    background-color:white;
    color: black;
    font-size: large;
    height: 40px;
    display: flex;
    justify-content: center;
align-items: center;
width: 70%;
margin: 7px;
}
.hero-msg a{
    color: #007185;
    text-decoration: none;
}

/* shop section */

.shop-section{
    display: flex;
    flex-wrap: wrap;
justify-content: space-evenly;
  background-color: #d1eef3;
  
}

.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 25%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 1rem;
}

.box-image{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
}

.box-content{
    margin-left: 10px;
margin-right: 10px;
}

.box-content p{
    color: #007185;
    margin-left: 1rem;
    margin-top: 1rem;
}

/*  footer section */

footer{
    width: 100vw;
    margin-top: 13px;
}
.foot-panel1{
    color: white;
    height: 50px;
   display: flex;
    justify-content: center;
    align-items: center;
    background-color:#37475a;
   font-size: 0.85rem;
}
.foot-panel2{
    background-color: #232F3E;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
font-size: 1.1rem;
   
}


ul{
    margin-top: 10px;
    
}
.foot-panel2 ul p {
   display: flex;
   justify-content: left;
margin-left: auto;
}


ul a{
    display: block;
    text-decoration: none;
    color: #DDDDDD;
    font-size: 0.8rem;
    margin-top: 10px;
    text-align: left;

}

.foot-panel3{
    background-color: #232F3E;
    color: white;
border-top: 1px solid white;
height: 70px;
display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.logo{
    background-image: url(amazon-logo.jpg);
    background-size: cover;
    height: 40px;
    width: 120px;
    
}

p{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.99rem;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 85px;
    padding-top: 20px;
    
}
.page{
    font-size: 1.1rem;
text-align: center;


}
.copyright{
    font-size: 0.9rem;
    text-align: center;
    padding-top: 0.3rem;
}
p i{
    border: 1px solid white;
}
