*{
    margin: 0;
    padding: 0;
}
.container{
    height: 600px;
    width: 450px;
    background-color: #797978;
    margin-top: 3rem;
    padding-left: 30px;
 margin-left: 30%;
}
h1{
    
    padding-top: 1rem;
    
}

#height,
#weight{
    margin-left: 10px;
    margin-top: 35px;
    height: 25px;
    width: 150px;
}
button{
    margin-top: 2.5rem;
    height: 35px;
    width: 150px;
    margin-left: 9rem;
    border-radius: 0.8rem;
    cursor: pointer;
    background-color: rgb(202, 244, 244);
    font-size: 1.5rem;
    font-weight: 300;
}
h3{
    margin-top: 2.3rem;
    
}

p{
font-size: 1.2rem;
}
#result {
  font-size: 30px;
  margin-left: 90px;
  margin-top: 15px;
  color: rgb(241, 241, 241);
}
#weight-guide{
    margin-top: 2rem;
}
#weight-guide{
    margin-top: 1rem;
    margin-left: 1rem;
}
#weight-guide,p{
    margin-top: 1.2rem;
}